.container {
  width: 100vw;
}
.ttl {
  font-size:24px;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}
.flex {
  display: flex;
}
.wrap {
  display: flex;
  justify-content: center;
}
.button {
  color: white;
  background-color: black;
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 40px;
  font-size: 14px;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}
.m-20 {
  margin: 20px;
}
.thanks {
  margin-top: 300px;
}
.thanks-ttl {
  margin-bottom: 40px;
}

/* お問い合わせ画面 */
.form {
  width: 80%;
}
.form-table {
  width: 100%;
}
.form-item th {
  width: 20%;
}
.form-item-td {
  width: 80%;
}
.form-txt__name {
  border-color: rgb(144, 144, 144);
  border-radius: 5px;
  width: 98%;
  margin-bottom: 5px;
  height: 35px;
  font-size: large;
  padding-left: 10px;
}
.form-txt {
  border-color: rgb(144, 144, 144);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
  height: 35px;
  font-size: large;
  padding-left: 10px;
}
.form-txt__option {
  border-color: rgb(144, 144, 144);
  border-radius: 5px;
  width: 100%;
  height: 120px;
  font-size: large;
  padding-left: 10px;
  margin-bottom: 20px;
}
.form-radio {
  border-color: rgb(144, 144, 144);
  margin: 10px 10px 20px 10px;
  transform: scale(2.0)
}
.option-ttl {
  vertical-align: top;
  padding-top: 10px;
}
.gender {
  font-size: large;
}
.c-red {
  color: red;
  margin-left: 5px;
}
.last_name-error-message,
.first_name-error-message,
.email-error-message,
.addr11-error-message,
.option-error-message,
.last_name-error,
.first_name-error,
.email-error,
.addr11-error,
.option-error {
  color: red;
  font-size: 0.8rem;
  margin-left: 10px;
  margin-bottom: 10px;
}
.zip11-error-message, 
.zip11-error {
  color: red;
  font-size: 0.8rem;
  margin-left: 20px;
  margin-bottom: 10px;
}
.form-example {
  color: rgb(144, 144, 144);
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.form-example__postcode {
  color: rgb(144, 144, 144);
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 10px;
}
.postmark{
  margin-right: 10px;
  margin-top: 5px;
  font-size: larger;
}
.back-btn {
  border: none;
  text-decoration: underline;
  background-color: white;
  display: block;
  margin: 10px auto;
}

/* 確認画面 */
.confirm-table {
  width: 100%;
  margin: 40px 0 50px 0;
}
.confirm-item th {
  width: 30%;
}
.confirm-item-td {
  width: 70%;
  height: 70px;
}

/* 管理画面 */
.management {
  width: 100%;
}
.search-form {
  width: 100%;
  border:3px solid black;
  padding: 20px;
}
.search {
  width: 100%;
}
.search-label {
  width: 150px;
  height: 50px;
  align-items: center;
  text-align: left;
  padding-left: 10px;
}
.search-label__gender {
  width: 70px;
  text-align: center;
}
.search-txt {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
}
.reset-nav {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: black;
  text-decoration: underline;
}
.paginate {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 40px;
  align-items: center;
}
.paginate-item {
  font-size: 20px;
}
.search-result {
  width: 100%;
}
.search-result-item th,
.search-result-item td {
  font-size: large;
  padding: 8px;
}
.search-result-item:first-child {
  border-bottom: 3px solid black;
}
.search-btn {
  color: white;
  background-color: black;
  border-radius: 3px;
  width: 80px;
}

.option-view {
  width: 500px;
}
.show-all {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.show-all:hover {
  white-space: normal;
  overflow: visible;
  z-index: 9999;
}

